@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.container{

    margin: 0 165px;
}

.header{
    background-image: url(images/PNG/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-right: 25px;
}

.nav-item:hover{
    color: #FF7400;
    transition: color 0.3s linear;
}

.cart{
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img{
    position: relative;
    width: 20px;
    height: 17px;
    margin: 0 15px;
    top: 18px;
}


.phone{
    margin-left: 35px;
    margin-right: 50px;
}


.number{
    margin-left: 7px;
}

.num{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;   
}

.num:hover{
    color: #FF7400;
    transition: color 0.3s linear;
}

.phone-text{
    width: 155px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.phone-holder{
    display: flex;
    align-items: center;
}

.btn{
    background-color: #FF7400;
    padding: 14px;
    cursor: pointer;

}
.button{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover, .menu-btn a:hover{
    background-color: #894b17;
    transition: color 0.3s linear;
}


.header-down{
    margin-top: 150px;
    position: relative;
}
.header-title{
    
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 0;
}

.header-subtitle{
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
}

.header-subtitle_1{
    margin: 12px;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.header-subtitle_1::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background: #fff;
    top: 172px;
    left: 80px;
}

.header-subtitle_1::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background: #fff;
    top: 172px;
    left: 335px;
}

.header-btn-menu a, .bb-btn a{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #FF7400;
    padding: 15px 25px;
    text-decoration: none;
}

.header-btn-menu{
    margin: 35px;
}

.header-btn-menu a:hover, .bb-btn a:hover{
    background-color: #894b17;
    transition: color 0.3s linear;
}


.card{
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px #0000001A;
    height: 325px;
    width: 350px;
    margin-right: 30px;
    margin-top: -105;
    padding: 10px 10px;
}

.card-image{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cards-container{
    display: flex;
    justify-content: center;
}

.card-title{
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 20px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.card-title span{
    color: #BC9060;
}

.history-title span, .dishes-title span{
    color: #D67E34;;
}

.card-description{
    color: #656363;
    text-align: center;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.history{
    margin-top: 160px;
    padding-bottom: 200px;
}

.history-title{
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    text-align: center;
    width: 440px;
}

.history-description{
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #656363;
    text-align: center;
    width: 440px;
}

.history-numbers-container{
    display: flex;
    width: 440px;
    justify-content: center;
}

.history-numbers{
    text-align: center;
    margin: 40px 30px 0 30px;
}

.history-number{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #BC9060;
    
}

.history-number-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.history-container{
    display: flex;
}

.history-images{
    position: relative;
}

.history-image_1{
    position: absolute;
    width: 235px;
    height: 300px;
    z-index: 2;
    top: 55px;
    left: 220px;
    transition: transform 1s;
}

.history-image_2{
    position: absolute;
    width: 255px;
    height: 420px;
    z-index: 1;
    top: 0;
    left: 380px;
    transition: transform 1s;
}

.history-image_3{
    position: absolute;
    box-sizing: border-box;
    width: 255px;
    height: 300px;
    z-index: 0;
    top: 200px;
    left: 485px;
    transition: all 1s ease-in-out;
}

.history-image_1:hover, .history-image_2:hover, .history-image_3:hover{
    transform: scale(1.25);
    /* ? delete to increase smothness */
    box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.black-block{
    width: 100vw;
    padding: 80px 0;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), 
        url(images/PNG/black-block-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bb-info{
    display: block;
    width: 610px;
}

.bb-info-title{
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    color: #D67E34;

}

.bb-info-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.bb-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title{
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    color: #000000;
    text-align: center;
    padding: 140px 0px;
}

.dishes-images{
    display: flex;
    justify-content: center;
}

.pizza img{
    height: 480px;
    width: 450px;
    transition: all 0.5s ease-in-out;
}

.hamburges-menu{
    display: flex;
}

.hamburger-item{
    display: flex;
    align-items: center;
}

.hamburger-image img{
    margin: 0 20px 30px 20px;
    height: 140px;
    width: 210px;
    transition: all 0.5s ease-in-out;
}

.hamburger-info{
    display: flex;
}

.hamburger-name, .hamburger-price{
    margin: 0 0 30px 10px;
    text-align: center;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
}

.hamburger-image img:hover, .pizza img:hover{
    transform: scale(1.2);
    /* ? delete to increase smothness */
    box-shadow: 20px 0px 30px 3px rgba(0, 0, 0, 0.5);    
} 

.menu{
    margin: 150px 0 0 0;
    background-image: url(images/JPG/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 225px;
    position: relative;
}

.menu-title{
    padding: 120px 0;
    text-align: center;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-item{
    text-align: center;
    width: 350px;
    height: 500px;
    margin-right: 30px;
    background: #fff;
}

.menu-item:nth-last-child(){
    margin-right: 0px;
}

.menu-item-info{
    width: 230px;
    padding: 80px 60px 20px 60px;
}

.menu-item-info:nth-child(1) {
    padding-top: 60px;
}

.menu-item-image{
    position: relative;
}

.menu-item-image img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}


.menu-item-text{
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 26px;
    color: #000;
    padding: 15px 0;
}

.menu-item-description{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding-bottom: 20px;
}

.menu-btn a{
    text-decoration: none;
    padding: 15px 60px;
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}


.white-circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.circle-price{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #D67E34;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
}

.price{
    padding: 25px;
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.feedback{
    background-color: #E5E5E5;
    padding: 100px 0;
}

.feedback-text{
    padding: 50px;
    width: 920px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.feedback-avatar img{
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 20px auto; */
}

.feedback-username{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    
}
