/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.container{
    /* padding: 50px 0; */
    margin: 0 165px;
}

.header{
    background-image: url(images/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-right: 25px;
}

.nav-item:hover{
    color: #FF7400;
    transition: color 0.3s linear;
}

.cart{
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img{
    position: relative;
    width: 20px;
    height: 17px;
    margin: 0 15px;
    top: 18px;
}


.phone{
    margin-left: 35px;
    margin-right: 50px;
}


.number{
    margin-left: 7px;
}

.num{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;   
}

.num:hover{
    color: #FF7400;
    transition: color 0.3s linear;
}

.phone-text{
    width: 155px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.phone-holder{
    display: flex;
    align-items: center;
}

.btn{
    background-color: #FF7400;
    padding: 14px;
    cursor: pointer;

}
.button{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover{
    background-color: #894b17;
    transition: color 0.3s linear;
}

/* .header-nav{
    margin-left: 270px;
    
} */

.header-down{
    margin-top: 150px;
    /* margin-left: 175px; */
    position: relative;
}
.header-title{
    
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 0;
}

.header-subtitle{
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 80px;
}

.header-subtitle_1{
    margin: 12px;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.header-subtitle_1::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background: #fff;
    top: 172px;
    left: 80px;
}

.header-subtitle_1::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    background: #fff;
    top: 172px;
    left: 335px;
}

.header-btn-menu a{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #FF7400;
    padding: 15px 25px;
    text-decoration: none;
}

.header-btn-menu{
    margin: 35px;
}

.header-btn-menu a:hover{
    background-color: #894b17;
    transition: color 0.3s linear;
}