@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --logo: #69b9ff;
  --text: #676770;
  --text-hover: #0082f3;
  --text-active: #0062b6;
  --subtitle: #8e8e9c;
  --backup-welcome-bg: #282936;
  --white: #ffffff;
  --primary-link-bg: #69b9ff;
  --primary-link-hover: #7cc2ff;
  --primary-link-active: #0f8fff;
  --card-border: #dcebf7;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6a859c;
  line-height: 1.8;
}

.title-wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--text);
}

.subtitle {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--subtitle);
}

.common-section {
  padding: 80px 0;
  text-align: center;
}

.common-section--dark {
  background-color: #192024;
}

.common-section--dark * {
  color: var(--white);
}

.hide {
  display: none !important;
}

/* ---------------- HEADER ---------------- */
.header {
  padding: 20px 0;
  width: 100%;

  position: fixed;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

  top: 0;
  left: 0;

  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--logo);
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav ul {
  display: flex;
}

.header__nav li + li {
  margin-left: 40px;
}

.header__nav a {
  color: var(--text);
  font-size: 16px;
  transition: color 0.2s;
}

.header__nav a:hover {
  color: var(--text-hover);
}

.header__nav a:active {
  color: var(--text-active);
}

/* ---------------- MAIN ---------------- */

.main {
}

/* ---------------- WELCOME ---------------- */
.welcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  text-align: center;

  background-color: var(--backup-welcome-bg);
  background-image: url("images/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
}

.welcome__title {
  margin-bottom: 100px;

  font-size: 60px;
  line-height: 1;
  letter-spacing: 4;
  text-transform: uppercase;
}

.welcome__links > * + * {
  margin-left: 20px;
}

.link-primary {
  display: inline-block;
  padding: 10px 30px;

  font-size: 16px;
  letter-spacing: 2;
  text-transform: uppercase;

  background-color: var(--primary-link-bg);

  border: 1px solid var(--primary-link-bg);
  border-radius: 5px;

  transition: background-color 0.1s, border-color 0.1s;
}

.link-primary:hover {
  background-color: var(--primary-link-hover);
  border-color: var(--primary-link-hover);
}

.link-primary:active {
  background-color: var(--primary-link-active);
  border-color: var(--primary-link-active);
}

.link {
  display: inline-block;
  padding: 10px 30px;

  font-size: 16px;
  letter-spacing: 2;
  text-transform: uppercase;

  border: 1px solid var(--white);
  border-radius: 5px;

  transition: background-color 0.1s, border-color 0.1s;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}

/* ---------------- ABOUT (WHAT WE DO) ---------------- */

.about .card-wrapper {
  display: flex;
  justify-content: space-between;
}

.about .card {
  width: 300px;
  padding: 35px 15px 25px;

  border: 1px solid var(--card-border);
  border-radius: 5px;
}

.about .card img {
  margin-bottom: 20px;

  width: 95px;
  height: 95px;
  object-fit: contain;
}

.about .card h4 {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  color: var(--text);
}

/* ---------------- SERVICES ---------------- */

.services .card-wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services .card img {
  margin-bottom: 20px;
}

.services .card h4 {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services .link {
  margin-top: 15px;
}

/* ---------------- TABS ---------------- */

.tabs__nav {
  margin-bottom: 50px;
}

.tabs__nav button {
  padding: 5px 30px;

  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);

  background-color: #92a0ad;
  border-radius: 4px;
}

.tabs__nav button.active {
  background-color: #2e80b6;
}

.tabs__nav button + button {
  margin-left: 15px;
}

.tabs__item img {
  margin-bottom: 15px;
}

.tabs__item h4 {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.5;
  color: var(--text);
}

.tabs__desc {
  max-width: 700px;
  margin: 0 auto;
}

/* ---------------- FOOTER ---------------- */

.footer {
}
.footer__desc {
}
.container {
}
.footer__about {
}
.footer__links {
}
.footer__social {
}
.footer__copyright {
}
